@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Desafios literários</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tema</th>
            <th scope="col">Data de Anúncio</th>
            <th scope="col">Data do Resultado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var challenge in Model.Challenges)
        {
            <tr>
                <th scope="row">@challenge.Theme</th>
                <td>@challenge.AnnouncementDate.ToString("dd/MM/yyyy")</td>
                <td>@challenge.ResultsDate</td>
            </tr>
        }
    </tbody>
</table>

